<div class="back">
  <div class="blue jumbotron-fluid mt-5 pt-2 pb-5">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-3 px-xl-4 col-md-4 col-sm-5 col-7">
          <img src="assets/img/Profile.jpeg" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-lg-9 col-12 mt-4 mt-lg-0 text-center text-lg-left">
          <h1 class="d-none d-md-block display-4 mb-4" style="color: #ff625d;">Who I am?</h1>
          <h1 class="d-md-none font-weight-light mb-4" style="color: #ff625d;">Who I am?</h1>
          <p>Hi, my name is Santiago and I'm 21 years old. I'm a mobile and web frontend developer living in Pereira, Colombia. I was always a technology enthusiast. Thanks to that, I have managed to be the person that I am now.</p>
          <p>I'm good with computers and technology in general. I have skills in programming, computer science and mathematics. I perform well in teamwork, I'm a responsible person and I'm open to new learning.</p>
        </div>
      </div>
      <div class="row mt-lg-0 mt-3 justify-content-center">
        <div class="col-12">
          <p class="text-center small font-italic">If you want to know more about me, you can see my Curriculum Vitae</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
            <a class="btn btn-block btn-danger" href="https://drive.google.com/open?id=1K8tITcQCI1fsTGfQ5jBz-31RyLhWhtV0">
              See my CV
            </a>
        </div>
      </div>
      <div class="row mt-5 pt-3">
        <div class="col-12">
          <h1 class="d-none d-md-block text-lg-left text-center font-weight-light" style="color: #ff625d;">What can you expect from me?</h1>
          <h2 class="d-md-none text-lg-left text-center font-weight-light" style="color: #ff625d;">What can you expect from me?</h2>
        </div>
        <div class="col-md-4 col-12 text-md-right text-center pr-4 pt-5">
          <h1 class="d-none d-md-block text-light font-weight-light">Responsibility</h1>
          <h2 class="d-md-none text-light font-weight-light">Responsibility</h2>
        </div>
        <div class="col-md-8 col-12 pt-md-5 pt-3">
          <p class="text-lg-left text-center">I am characterized for being a person capable of working with responsibilities. I know how to manage my time and my work to fulfill my obligations in the best way.</p>
        </div>
        <div class="col-md-4 col-12 text-md-right text-center pr-4 pt-5">
          <h1 class="d-none d-md-block text-light font-weight-light">Adaptability</h1>
          <h2 class="d-md-none text-light font-weight-light">Responsibility</h2>
        </div>
        <div class="col-md-8 col-12 pt-md-5 pt-3">
          <p class="text-lg-left text-center">As I said before, I am a person who is open to new learnings. I have no problem adapting to new technologies or new work groups, I work perfectly working as a team and working alone.</p>
        </div>
        <div class="col-md-4 col-12 text-md-right text-center pr-4 pt-5">
          <h1 class="d-none d-md-block text-light font-weight-light">Commitment</h1>
          <h2 class="d-md-none text-light font-weight-light">Commitment</h2>
        </div>
        <div class="col-md-8 col-12 pt-md-5 pt-3">
          <p class="text-lg-left text-center">I strive so that the things I do are well done. I do not like to do things simply to fulfill, when I must do something I commit myself to give the best of myself to obtain amazing results.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="white jumbotron-fluid pt-5 pb-3 mb-0">
    <div class="container pt-4">
      <div class="row">
        <div class="col-12 mb-3">
          <h1 class="text-center font-weight-light" style="color: #d9534f;">Looking for my education? Here you have</h1>
        </div>
        <div class="col pt-5">
          <h1 class="d-none d-md-block text-dark font-weight-light">Primary education</h1>
          <h2 class="d-md-none text-dark font-weight-light">Primary education</h2>
          <p>
            Finished in 2007 in I.E. Policarpa Salavarrieta
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="red-2 jumbotron-fluid py-3 mb-0">
    <div class="container">
      <div class="row">
          <div class="col">
          <h1 class="d-none d-md-block text-dark font-weight-light">Secondary education</h1>
          <h2 class="d-md-none text-dark font-weight-light">Secondary education</h2>
          <p>
            Finished in 2013 in I.E. INEM “Felipe Pérez”
          </p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="red-1 jumbotron-fluid py-3 mb-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="d-none d-md-block text-dark font-weight-light">Systems Technician</h1>
          <h2 class="d-md-none text-dark font-weight-light">Systems Technician</h2>
          <p>
            Finished in 2013 in National Learning Service SENA
          </p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="red-0 jumbotron-fluid pt-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="d-none d-md-block text-light font-weight-light">Systems and Computing Engineering</h1>
          <h2 class="d-md-none text-light font-weight-light">Systems and Computing Engineering</h2>
          <p class="mb-0 font-italic">
            Not yet completed, currently studying 10th semester
          </p>
          <p>
            Hopefully finished in 2019 in Technological University of Pereira
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>