<div class="blue jumbotron-fluid mt-5 pt-2 pb-5">
  <div class="container mt-5 pb-3">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-5 col-7">
        <img src="../../assets/img/Profile.jpg" class="img-fluid rounded-circle" alt="">
      </div>
      <div class="col-lg-9 col-12 mt-4 mt-lg-0 text-center text-lg-left">
        <h1 class="d-none d-md-block display-4 mb-4" style="color: #ff625d;">Who I am?</h1>
        <h1 class="d-md-none font-weight-light mb-4" style="color: #ff625d;">Who I am?</h1>
        <p>My name is Santiago. I'm a mobile and web frontend developer living in Pereira, Colombia. I was always a technology enthusiast. Thanks to that, I have managed to be the person that I am now.</p>
        <p>I'm good with computers and technology in general. I have skills in programming, computer science and mathematics. I perform well in teamwork, I'm a responsible person and I'm open to new learning. In my spare time I'm a musician. c:</p>
      </div>
    </div>
  </div>
</div>

<div class="white jumbotron-fluid pt-5 pb-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h1 class="text-center font-weight-light" style="color: #d9534f;">Looking for my education? Here you have</h1>
      </div>
      <div class="col pt-3">
        <h1 class="d-none d-md-block text-dark font-weight-light">Primary education</h1>
        <h2 class="d-md-none text-dark font-weight-light">Primary education</h2>
        <p>
          Finished in 2007 in I.E. Policarpa Salavarrieta
        </p>
      </div>
    </div>
  </div>
</div>

<div class="red-2 jumbotron-fluid py-3 mb-0">
  <div class="container">
    <div class="row">
        <div class="col">
        <h1 class="d-none d-md-block text-dark font-weight-light">Secondary education</h1>
        <h2 class="d-md-none text-dark font-weight-light">Secondary education</h2>
        <p>
          Finished in 2013 in I.E. INEM “Felipe Pérez”
        </p>
      </div>
    </div>
  </div>
</div>
  
<div class="red-1 jumbotron-fluid py-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="d-none d-md-block text-dark font-weight-light">Systems Technician</h1>
        <h2 class="d-md-none text-dark font-weight-light">Systems Technician</h2>
        <p>
          Finished in 2013 in National Learning Service SENA
        </p>
      </div>
    </div>
  </div>
</div>
  
<div class="red-0 jumbotron-fluid pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="d-none d-md-block text-light font-weight-light">Systems and Computing Engineering</h1>
        <h2 class="d-md-none text-light font-weight-light">Systems and Computing Engineering</h2>
        <p class="mb-0 font-italic">
          Not yet completed, currently studying 10th semester
        </p>
        <p>
          Hopefully finished in 2019 in Technological University of Pereira
        </p>
      </div>
    </div>
  </div>
</div>  