<div class="blue jumbotron-fluid mt-5 pt-2 pb-5">
  <div class="container mt-5 pb-3">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-3">
        <h1 class="d-none d-md-block display-4 mb-5" style="color: #ff625d;">Here you can find me!</h1>
        <h1 class="d-md-none font-weight-light mb-5" style="color: #ff625d;">Here you can find me!</h1>
        <div class="btn-group">
          <a class="btn btn-facebook" href="https://www.facebook.com/Magoratoga" role="button">
            <i class="fab fa-facebook-square"></i>
            Facebook
          </a>
          <a class="btn btn-instagram" href="https://www.instagram.com/magoratogha">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>   
          <a class="btn btn-github" href="https://github.com/Magoratogha">
            <i class="fab fa-github"></i>
            GitHub
          </a>
        </div>      
      </div>
    </div>
  </div>
</div>

<div class="container my-5 pb-4">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="d-none d-md-block text-center font-weight-light" style="color: #d9534f;">Or if you want to write...</h1>
      <h2 class="d-md-none text-center font-weight-light" style="color: #d9534f;">Or if you want to write...</h2>      
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-8 col-12">
      <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <div class="form-group">
          <label for="NameEmail">Your name</label>
          <input [(ngModel)]="name" type="text" class="form-control" [ngClass]="{'is-invalid' : nameIsValid == false}" id="NameEmail" name="nombre" placeholder="Enter your name">
          <div class="invalid-feedback">
            Please enter your name.
          </div>
        </div>
        <div class="form-group">
          <label for="SubjectEmail">Subject</label>
          <input [(ngModel)]="subject" type="text" class="form-control" [ngClass]="{'is-invalid' : subjectIsValid == false}" id="SubjectEmail" name="asunto" placeholder="Enter your subject">
          <div class="invalid-feedback">
            Please enter your subject.
          </div>
        </div>
        <div class="form-group">
          <label for="Email">Your email address</label>
          <input [(ngModel)]="email" type="email" class="form-control" [ngClass]="{'is-invalid' : emailIsValid == false}" id="Email" name="email" placeholder="name@example.com">
          <div class="invalid-feedback">
            Please enter your email.
          </div>
        </div>
        <div class="form-group">
          <label for="emailMessage">Your message</label>
          <textarea [(ngModel)]="message" class="form-control" [ngClass]="{'is-invalid' : messageIsValid == false}" id="emailMessage" rows="3" name="mensaje"></textarea>
          <div class="invalid-feedback">
            Please enter your message.
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-lg-5 col-md-7 col-sm-8 col-10">
            <button type="submit" class="btn btn-danger btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-12 px-4 pt-4 pt-lg-0">
      <h1 class="d-none d-md-block text-center font-weight-light" style="color: #d9534f;">Thanks for your visit c:</h1>
      <h2 class="d-md-none text-center font-weight-light" style="color: #d9534f;">Thanks for your visit c:</h2>
    </div>
  </div>
</div>
  
