<div class="blue jumbotron-fluid mt-5 pt-2 pb-5">
  <div class="container mt-5 pb-3">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-3">
        <h1 class="display-4 mb-5" style="color: #ff625d;">Here you can find me!</h1>
        <div class="btn-group">
          <a class="btn btn-facebook" href="https://www.facebook.com/Magoratoga" role="button">
            <i class="fab fa-facebook-square"></i>
            Facebook
          </a>
          <a class="btn btn-instagram" href="https://www.instagram.com/magoratogha">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>   
          <a class="btn btn-github" href="https://github.com/Magoratogha">
            <i class="fab fa-github"></i>
            GitHub
          </a>
        </div>      
      </div>
    </div>
  </div>
</div>

<div class="container my-5 pb-4">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="text-center font-weight-light" style="color: #d9534f;">Or if you want to write...</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-8">
      <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <div class="form-group">
          <label for="NameEmail">Your name</label>
          <input type="text" class="form-control" id="NameEmail" name="nombre" placeholder="Enter your name" ngModel>
        </div>
        <div class="form-group">
          <label for="SubjectEmail">Subject</label>
          <input type="text" class="form-control" id="SubjectEmail" name="asunto" placeholder="Enter your subject" ngModel>
        </div>
        <div class="form-group">
          <label for="Email">Your email address</label>
          <input type="email" class="form-control" id="Email" name="email" placeholder="name@example.com" ngModel>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje" ngModel></textarea>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-4">
            <button type="submit" class="btn btn-danger btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4 pl-5">
      <h1 class="text-center font-weight-light" style="color: #d9534f;">Thanks for your visit c:</h1>
    </div>
  </div>
</div>
  
