<div class="blue jumbotron-fluid mt-5 pt-3 pb-5">
  <div class="container mt-3">
    <div class="row mb-5">
      <div class="col-12 text-center text-lg-left">
        <h1 class="d-none d-sm-block display-4" style="color: #ff625d;">As a web frontend developer</h1>
        <h1 class="d-sm-none font-weight-light" style="color: #ff625d;">As a web frontend developer</h1>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-lg-2 col-md-3 col-sm-4 col-5 pr-sm-4 pb-sm-0 pb-3">
        <img src="../../assets/img/angular.svg" class="img-fluid" alt="">
      </div>
      <div class="text-center text-sm-left col-lg-10 col-md-9 col-sm-8 col-12">
        <h1 class="d-none d-sm-block display-4 mb-3">Angular</h1>
        <h1 class="d-sm-none font-weight-light mb-3">Angular</h1>        
        <p>I've been working with the google framework for about 8 months. In that time I have learned many concepts of the asynchronous web as well as many of Angular's own concepts.</p>
        <p>Angular is the technology that I currently use most for my web projects.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="order-sm-last col-lg-2 col-md-3 col-sm-4 col-5 pl-sm-4 pb-sm-0 pb-3">
        <img src="../../assets/img/boostrap.svg" class="img-fluid" alt="">
      </div>
      <div class="order-sm-first text-center text-sm-right col-lg-10 col-md-9 col-sm-8 col-12">
          <h1 class="d-none d-sm-block display-4 mb-3">Bootstrap</h1>
          <h1 class="d-sm-none font-weight-light mb-3">Bootstrap</h1>
        <p>What's the use of having a wonderful page if it's awful ugly? This is where Bootstrap comes in for me. I have been working with bootstrap for about 1 year and have learned to use almost all of the components that it offers me. The implementation of the bootstrap grid is simply wonderful.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-lg-3 col-md-4 col-sm-5 col-6 pr-sm-4 pb-sm-0 pb-3">
        <img src="../../assets/img/html+css.svg" class="img-fluid" alt="">
      </div>
      <div class="text-center text-sm-left col-lg-9 col-md-8 col-sm-7 col-12">
          <h1 class="d-none d-sm-block display-4 mb-3">HTML/CSS</h1>
          <h1 class="d-sm-none font-weight-light mb-3">HTML/CSS</h1>
          <p>What can I say? HTML and CSS are the basis of web programming. For me they have been really important and even now, I continue to constantly learn from them. I have been working with HTML and CSS for almost 2 years.</p>  
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="text-center col-12 mb-4">
        <h1 class="d-none d-sm-block font-weight-light mb-3" style="color: #ff625d;">Here you have an example of my work</h1>
        <h2 class="d-sm-none font-weight-light mb-3" style="color: #ff625d;">Here you have an example of my work</h2>
        <h4 class="d-none d-sm-block font-weight-light">This web portfolio is made using Angular, Bootstrap, HTML and CSS styles.</h4>
        <h5 class="d-sm-none font-weight-light">This web portfolio is made using Angular, Bootstrap, HTML and CSS styles.</h5>        
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10">
        <a class="btn btn-danger btn-block" href="https://github.com/Magoratogha/Portfolio" role="button">
          <i class="fab fa-github"></i>
          Source code
        </a>
      </div>
    </div>
  </div>
</div>

<div class="white jumbotron-fluid pt-3 pb-5">
  <div class="container">
    <div class="row mb-5 mt-4 text-center text-lg-left">
      <div class="col-12">
          <h1 class="d-none d-sm-block display-4" style="color: #d9534f;">As a mobile developer</h1>
          <h1 class="d-sm-none font-weight-light" style="color: #d9534f;">As a mobile developer</h1>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-lg-2 col-md-3 col-sm-4 col-5 pr-sm-4 pb-sm-0 pb-3">
        <img src="../../assets/img/ionic.svg" class="img-fluid" alt="">
      </div>
      <div class="text-center text-sm-left col-lg-10 col-md-9 col-sm-8 col-12">
        <h1 class="d-none d-sm-block display-4 mb-3">Ionic</h1>
        <h1 class="d-sm-none font-weight-light mb-3">Ionic</h1>  
        <p>I can say that I started working with Ionic at the same time in what I did with Angular, the learning of both was in a parallel way. I've been working with ionic for about 8 months and, like angular, it's my main technology when it comes to multiplatform mobile projects</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="order-sm-last col-lg-2 col-md-3 col-sm-4 col-5 pl-sm-4 pb-sm-0 pb-3">
        <img src="../../assets/img/android.svg" class="img-fluid" alt="">
      </div>
      <div class="order-sm-first text-center text-sm-right col-lg-10 col-md-9 col-sm-8 col-12">
        <h1 class="d-none d-sm-block display-4 mb-3">Android</h1>
        <h1 class="d-sm-none font-weight-light mb-3">Android</h1>
        <p>Java was one of the first languages ​​I learned when I started my university career, but it was not until recently that I started using java to program for androd devices. I've been working with native android for about 6 months now.</p>
      </div>
    </div>
    <div class="row pt-3 text-center">
      <div class="col-12 mb-3">
        <h1 class="d-none d-sm-block font-weight-light mb-3" style="color: #d9534f;">Here you have an example of my work</h1>
        <h2 class="d-sm-none font-weight-light mb-3" style="color: #d9534f;">Here you have an example of my work</h2>
        <h1 class="d-none d-sm-block display-4 mb-4">Meet DeliverApp</h1>
        <h1 class="d-sm-none font-weight-light mb-4">Meet DeliverApp</h1>        
        <p>DeliverApp was a mobile solution made in IONIC for a daily common deliveries problems. It was part of a project of the entrepreneurial class taught at the Universidad Tecnológica de Pereira in the computer and systems engineering program.</p>
        <p>In deliverapp we made use of maps, HTTP requests, device native resources such as storage or gps among others.</p> 
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-6">
        <img src="../../assets/img/DeliverApp_1.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 col-6">
        <img src="../../assets/img/DeliverApp_2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 col-6 pt-md-0 pt-3">
        <img src="../../assets/img/DeliverApp_3.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-3 col-6 pt-md-0 pt-3">
        <img src="../../assets/img/DeliverApp_4.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8 col-10 pt-4">
        <a class="btn btn-danger btn-block" href="https://github.com/Magoratogha/DeliverApp" role="button">
          <i class="fab fa-github"></i>
          Source code
        </a>
      </div>
    </div>
  </div>
</div>

<div class="red-0 jumbotron-fluid py-3 pb-5">
  <div class="container pb-2">
    <div class="row text-center text-lg-left mb-4">
      <div class="col-12 mt-4">
        <h1 class="d-none d-sm-block display-4 text-light mb-4">As a developer in general</h1>
        <h1 class="d-sm-none font-weight-light text-light mb-4">As a developer in general</h1>
        <p>In addition to the tools mentioned above, I also have skills in desktop programming. The languages ​​in which I perform best are C ++, Python and Java because I have worked with them for about 3 or 4 years, but I am not limited to them, I have skills in parallel programming with CUDA, and the programming of electronic devices with VHDL.</p>
      </div>
    </div>
    <div class="row mb-3 justify-content-around">
      <div class="col-3 col-md-2">
        <img src="../../assets/img/c++.svg" class="img-fluid" alt="">
      </div>
      <div class="col-3 col-md-2">
        <img src="../../assets/img/python.svg" class="img-fluid" alt="">
      </div>
      <div class="col-3 col-md-2">
        <img src="../../assets/img/java.svg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>