<div class="blue jumbotron-fluid mt-5 pt-3 pb-5 animated fadeIn fast">
  <div class="container mt-3">
    <div class="row mb-5">
      <div class="col-12">
        <h1 class="display-4 animated fadeIn fast" style="color: #d9534f;">As a web frontend developer</h1>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-2 pr-4">
        <img src="../../assets/img/angular.svg" class="img-fluid" alt="">
      </div>
      <div class="col-10">
        <h1 class="display-4 mb-3">Angular</h1>
        <p>I've been working with the google framework for about 6 months. In that time I have learned many concepts of the asynchronous web as well as many of Angular's own concepts.</p>
        <p>Angular is the technology that I currently use most for my projects.</p>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-10 text-right">
        <h1 class="display-4 mb-3">Boostrap</h1>
        <p>What's the use of having a wonderful page if it's awful ugly? This is where Bootstrap comes in for me. I have been working with bootstrap for about 1 year and have learned to use almost all of the components that it offers me. The implementation of the bootstrap grid is simply wonderful.</p>
      </div>
      <div class="col-2 pl-4">
        <img src="../../assets/img/boostrap.svg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-3">
        <img src="../../assets/img/html+css.svg" class="img-fluid" alt="">
      </div>
      <div class="col-9 pl-4">
          <h1 class="display-4">HTML/CSS</h1>
        <p>What can I say? HTML and CSS are the basis of web programming. For me they have been really important and even now, I continue to constantly learn from them. I have been working with HTML and CSS for almost 2 years.</p>  
      </div>
    </div>
  </div>
</div>

<div class="white jumbotron-fluid pt-3 pb-5 animated fadeIn fast" #element>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <h1 class="display-4" style="color: #d9534f;">As a mobile developer</h1>
      </div>
      <div class="col-2 mt-5">
        <img src="../../assets/img/ionic.svg" class="img-fluid" alt="">
      </div>
      <div class="col-10">
      </div>
      <div class="col-10">
      </div>
      <div class="col-2 mt-5">
        <img src="../../assets/img/android.svg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>

<div class="red-0 jumbotron-fluid py-3 pb-5 animated fadeIn fast">
  <div class="container pb-2">
    <div class="row">
      <div class="col-12 mt-4">
        <h1 class="display-4 animated text-light fadeIn fast">As a developer in general</h1>
      </div>
      <div class="col-12">
      </div>
    </div>
  </div>
</div>