<div class="home animated fadeIn fast">
  <div class="container text-center center animated fadeIn">
      <h1 class="display-4 text-danger">Welcome, my name is Santiago Gómez</h1>
      <h1 class="display-4">I'm a mobile and web frontend developer.</h1>
      <h1 class="mt-5 font-weight-light">Are you curious?</h1>
      <div class="btn-group btn-group-toggle mt-3" data-toggle="buttons">
        <a class="btn btn-danger" [routerLink]="['/about']">Know me</a>
        <a class="btn btn-dark" [routerLink]="['/skills']">Discover my skills</a>
      </div>
  </div>
</div>
